<html>
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <h1>My first form</h1>
        <form action="/second/about" method="POST">
          {% csrf_token %}
            <div class="form-group">
              <label for="email">Email address:</label>
              <textarea type="text" class="form-control" placeholder="Enter email" name="hello" id="email"></textarea>
            </div>
          
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="check"> Remove Punctuation
               
              </label>
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
               
                <input class="form-check-input" type="checkbox" name="counter"> Char Counter
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </body>
</html>