{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Product {% endblock %}
{% block css %} {% endblock %}
{% block body %}
<div class="container">
  {% for message in messages %}
<div class="alert alert-{{message.tag}} alert-dismissible fade show" role="alert">
    <strong>Note: </strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
  <div class="row">
    <div class="col-md-6">   
      
      {% if form %}
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.name|as_crispy_field}}
        {{form.image|as_crispy_field}}
        
        {% autoescape off %}
        {{form.description|safe}}
        {% endautoescape %}
        {{form.price|as_crispy_field}}
        {{form.quantity|as_crispy_field}}
        {{form.farmer_id|as_crispy_field}}
        {{form.productCate_id|as_crispy_field}}
        <!-- {{form|crispy}} -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% endif %}
           
      
    </div>
    <div class="col-md-6">      
      {% if update %}
      <form action="update" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{update|crispy}}
        <button type="submit" class="btn btn-primary">update</button>
      </form>
      {% endif %}
         
     
      
    </div>
  </div>
</div>
{% endblock %}