{% extends 'blog/main.html' %}
{% block title %} Product {% endblock %}
{% block css %}

<style>
.inline-panel{
    display: inline-block;
    width:200px;
    text-align: center;
    margin-left: 50px;
}
.product-container{
   width: 100%;
   height: auto;
   border-bottom: 1px solid lightgray;
   padding: 20px;
}
.content h6{
  color: chocolate;
}


.product-img{
       width:50%;
       height: 150px;
}
</style>

{% endblock %}
{% block body %} 


<div class="container">

   {% for message in messages %}
   <div class="alert alert-{{message.tag}} alert-dismissible fade show" role="alert">
       <strong>Note: </strong> {{message}}
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
   {% endfor %}
<br/><br/>
       
       {% for list in model %}

       <div class="product-container">
     <div class="row">
       <div class="col-3">
         <a  href="viewitems/{{list.id}}"> 
           <img src = '/media/{{list.image}}' class="product-img">
         </a>   
         </div>
             <div class="col-8 content">
               <h5>{{list.name}}</h4>
               <h6><i class="fas fa-rupee-sign"></i> {{list.price}}</h5> 
               </div> 
               <div class="col-1">             
               <a class="btn btn-primary" href="buyagain/{{list.id}}">Buy Again</a>
             </div>  
             </div>
          


           </div>
                    
       {% endfor %}
    
</div>
{% endblock %}
