 {% extends 'blog/main.html' %}
 {% block title %} Product {% endblock %}
 {% block css %}
 
 <style>
 .inline-panel{
     display: inline-block;
     width:200px;
     text-align: center;
     margin-left: 50px;
 }
 img{
        width:100%;
        height: 100px;
 }
 </style>
 
 {% endblock %}
 {% block body %} 
 
 
 <div class="container">

    {% for message in messages %}
    <div class="alert alert-{{message.tag}} alert-dismissible fade show" role="alert">
        <strong>Note: </strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

    <h1>Product List</h1>
<hr>

        {% for list in products %}


        <div class="panel panel-default inline-panel">
            <div class="panel-body">
                <img src = '/media/{{list.image}}'>
                <h4>P{{list.name}}</h4>
                <h5>Price : {{list.price}}</h5>                    
                <p>{{list.description}}</p>

            </div>
            <div class="panel-footer"><button type="button" class="btn btn-primary btn-sm">View Detail</button></div>
          </div>



                     
        {% endfor %}
 </div>
 {% endblock %}
